body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumb {
  /* background-color: powderblue; */
  transition: background-color 0.5s;
}

.thumb:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-duration: 0.5s;
}
