body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
}
